<!DOCTYPE html>
<html lang="ptBR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Products</title>
</head>

<body>
    <h1>Real-Time Products</h1>

    <ul id="product-list">
        {{#each products}}
        <li>{{this.title}} - {{this.description}}</li>
        <p><strong>{{this.price}}</strong></p>
        {{/each}}
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script>
        const socket = io();

        // Atualizando a lista de produtos no cliente
        socket.on('updateProducts', (products) => {
            const productList = document.getElementById('product-list');
            productList.innerHTML = ''; // Limpa a lista antes de adicionar os produtos atualizados

            products.forEach((product) => {
                const listItem = document.createElement('li');
                listItem.innerHTML = `
                    <p><strong>${product.title}</strong></p>
                    <p>${product.description}</p>
                    <p><strong>${product.price}</strong></p>
                    <hr>
                `;
                productList.appendChild(listItem);
            });
        });
    </script>
</body>

</html>